/* navigation bar */
.navbar{
	overflow: hidden;
	size: 20px;  
	position: absolute;
	top: 0;
	width: 100%; /*means it will be full width*/
	height: 50px; 
	background: #A18273; 

}
.navbar ul{
	list-style: none;
	width: 800px; 
	margin: 0 auto;
	padding: 0; 
	float: left;
}
.navbar li{
	float: left;
	padding: 1px;
}
.navbar li a{
	display: block;
	float: left;
	margin: 0 5px; 
	color: #4B3E3F; 
	display: block;
	text-align: center;
	padding: 14px 16px; 
	text-decoration: none;
	font-weight: bold;	
}

.navbar li a.active{
	color: #E5B7AA;
	background-color: #green;
}
.navbar li a:hover{
	color: white; 
	background: #4B3E3F; 
}

html, body {
	font-family: times; 
	margin: 0; 
	margin-top: 20px; 	
	background-color: #DBB4A7;
}
header{
	background-color: #81523E;
	padding: 40px 20px;
	text-align: center;

}
header img{
	border-radius: 10px;
    width: 500px;
    border: 2px solid #ff948a;

}
h1 {
	font-size: 70px;
	color: #E5B7AA; 
}
h4{
	font-style: italic;
	color: #E5B7AA; 
}
.content{
	max-width: 900px; 
	margin: 0 auto; 
	padding: 0 20px; 
}
p.caption{
	font-size: 16px;
	color: lightgrey;
	font-style: italic;
}
ol{
	list-style: none;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0; 
}
a{
	text-decoration: none; 
	color: yellow; 
}
footer{
	margin-top: 20px; 
	padding: 40px 20px; 
	background-color: #4B3E3F; 
	display: inline-block;
	bottom: 0px;
	height: 4em; 
	width: 100%
}
footer ul{
	text-align: center;
}
footer ul li{
	display: inline-block;
	margin: 0 5px; 
}


/*specifc css for "Home" page */
img.big-image{
	max-width: 100%;
}


/*specifc css for "Book" page */
img.book-cover{
	height: 400px;
	width: auto; 
}
img.book{
	float: left;
	padding: 20px;
	width: 400px;
}
#quotes{
	line-height: 2em;
}

/*specifc css for "Contact" page */
img.contact-image{
	width: 50%
	position: relative;

}
#contact-title-page{
	color: #E5B7AA;
	font-size: 30pt;
}

/*specifc css for "Events" page */
.event{
	text-decoration: underline;
}

img.event-image{
	width: 500px;
}
